@charset "UTF-8";

@font-face {
  font-family: "untitled-font-5";
  src:url("../fonts/untitled-font-5.eot");
  src:url("../fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-5.woff") format("woff"),
    url("../fonts/untitled-font-5.ttf") format("truetype"),
    url("../fonts/untitled-font-5.svg#untitled-font-5") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-5" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-5" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android-person-add:before {
  content: "\61";
}
.icon-university:before {
  content: "\62";
}
.icon-briefcase:before {
  content: "\65";
}
.icon-android-print:before {
  content: "\66";
}
.icon-android-close:before {
  content: "\63";
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, left,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Crimson Text', Helvetica, Arial, sans-serif;
  background-color: #EEEEEE;
  color: #222831;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #222831;
  color: white;
  padding: 3em 0 2em;
  margin-bottom: 5em;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h3 {
  color: #222831;
  margin: 0 0 2em;
  font-size: 1.2rem;
}

h4 {
  color: #222831;
  margin: 0 0 .5em;
  font-size: 2rem;
}

h1, h3, h4 {
  font-family: 'Julius Sans One', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

form {
  width: 100%;
  margin: 0 auto 2em;
  padding: 0;
}

label {
  display: block;
  font-family: 'Julius Sans One', Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: rgb(0, 146, 202);
  margin: 1.2em 0 .5em;
}

input, select {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    line-height: 120%;
    padding: 1%;
    font-size: 120%;
    transition: .5s ease all;
}

.nuevo-estudiante {
  width: 25%;
  display: block;
  overflow: hidden;
  float: left;
  border: 1px solid #ccc;
  padding: 4%;
}

.caja-derecha {
    width: 63%;
    margin: 0 0 0 3%;
    overflow: hidden;
    float: left;
}

.student {
    width: 46%;
    margin: 0 1% 2em;
    float: left;
    padding: 0 1%;
}

.student img {
  float: left;
  max-width: 130px;
  width: 100%;
  margin-right: 10px;
}

.student p {
  font-size: 1.1rem;
  margin: .5em 0;
  float: left;
}

.botones {
  display: block;
  overflow: hidden;
  margin: 0 0 3em;
}

.btn {
  float: left;
  display: block;
  text-align: center;
  font-family: 'Julius Sans One', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: lowercase;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0, 146, 202);
  letter-spacing: 1px;
  font-size: 90%;
  padding: 1em 1.5em;
  transition: .5s ease all;
  margin: 0 1em 0 0;
  border: none;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: rgba(0, 146, 202, .7);
  transition: .5s ease all;
}

.icon {
    top: 2px;
    position: relative;
}

p {
  font-family: 'Crimson Text', sans-serif;
  display: block;
  margin: 1em 0;
  line-height: 1.7;
  text-align: left;
}

.border {
  border-bottom: 2px #222831 solid;
  font-weight: 700;
}

b {
  font-family: 'Julius Sans One', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 112%;
  color: #222831;
}

small {
  font-size: .8rem;
}

footer {
  display: block;
  text-align: left;
  width: 100%;
  margin: 5em 0 0;
  padding: 0 0 2em;
}
footer small {
    padding: 1em 0;
    display: block;
}